{% extends 'base.html'%}
{% load static %}

{% block content %}
  <!-- Yana acılan menu -->
    <ul class="nav nav-stacked">
      <li>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" >
            Spor
            <i class="icon icon-caret-right"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Futbol</a></li>
            <li><a href="#">Satranç</a></li>
            <li><a href="#">Basketbol</a></li>
          </ul>
        </div>
      </li>
      <li>
          <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            E-spor
            <i class="icon icon-caret-right"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Dota 2</a></li>
            <li><a href="#">Cs go</a></li>
            <li><a href="#">Lol</a></li>
          </ul>
        </div>
      </li>
    </ul>

<!-- sayfalar -->
<div class="container">

  	<hr>
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.

            </div>
          </div>
        </div>
    </div>

{% endblock %}
